<!DOCTYPE html>
<html>
<header> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <%- include('header'); -%>
</header>


<body>
    <h1>Dashboard for <%= username %></h1>
    <h1> Welcome <%= username  %></h1>
    <h2>Upload PDF</h2>
    <form id="uploadForm" class="upload-form" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="Enter PDF Title" required />
    <input type="file" name="pdf" accept="application/pdf" required />
    <input type="text" name="tags" placeholder="Comma-separated tags"><br>
    <button type="submit">Upload PDF</button>
    <div class="upload-animation" id="uploadMessage">PDF uploaded successfully!</div>
    </form>

    <ul class="upload-list" id="pdf-list">
        <% pdf.forEach(p => { %>
            <li>
                <a href="/pdf/<%= p.slug %>"><%= p.title %></a>
                <button class="delete-btn" data-id="<%= p.id %>">🗑️ Delete</button>
            </li>
        <% }) %>
    </ul>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    <script src="/js/dashboard.js"></script>
</body>
</html>