<!DOCTYPE html>
<html>

<head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <%- include('banner'); -%>
    <%- include('dash'); -%>
</head>


<body>
    <div class="title">
        <h1>Dashboard for <%= username %></h1>
    </div>
    
    <div class="container">
        <div class="half">
            <div id="form-div">
                <form id="uploadForm" class="upload-form hidden" enctype="multipart/form-data">
                    <h2>Upload PDF</h2>
                    <input type="text" name="title" placeholder="Enter Manuscript Title" required />
                    <input type="file" name="pdf" accept="application/pdf" required />
                    <input type="text" name="authors" placeholder="Comma-separated Authors" required />
                    <input type="text" name="unis" placeholder="Comma-separated Universities" />
                    <textarea name="description" id="study-desc" rows="5"
                          maxlength="512" placeholder="Study Description"></textarea>
                    <div id="char-count">512 characters remaining</div>
                    <input type="text" name="tags" placeholder="Comma-separated tags, 8 max"><br>
                    <button type="submit">Publish</button>
                    <div class="upload-animation" id="uploadMessage">PDF uploaded successfully!</div>
                </form>
                <form id="jobForm" class="upload-form hidden" enctype="multipart/form-data">
                    <h2>Create Job Listing</h2>
                    <input type="text" name="title" placeholder="Job Listing Name" required />
                    <input type="text" name="desc" placeholder="Enter description" required />
                    <input type="text" name="reqs" placeholder="Enter requirements" />
                    <input type="text" name="contact" placeholder="Enter contact information" required />
                    <label for="pdf">Attach PDF</label>
                    <input type="file" name="pdf" accept="application/pdf">
                    
                    <button type="submit">Submit Job Listing</button>
                    <div class="upload-animation" id="uploadMessage2">Job listed successfully!</div>
                </form>
                <form id="edit-pdf-form" class="upload-form hidden" enctype="multipart/form-data">
                    <textarea name="description" id="study-desc" rows="5"
                          maxlength="512" placeholder="Study Description"></textarea>
                    <input type="file" name="pdf" accept="application/pdf"/>
                    <button type="submit">Publish Edits</button>
                    <div class="upload-animation" id="uploadMessage">Edits processed successfully!</div>
                </form>
            </div>
            <h2>Articles Published</h2>
            <ul class="upload-list" id="pdf-list">
                <% pdf.forEach(p => { %>
                    <li>
                        <a href="/pdf/<%= p.slug %>"><%= p.title %></a>
                        <button class="edit-btn-pdf" data-id="<%= p.id %>">&#9881; </button>
                        <button class="delete-btn-pdf" data-id="<%= p.id %>">🗑️ </button>
                    </li>
                <% }) %>
            </ul>
            <h2>Job Listings</h2>
            <ul class="upload-list" id="job-postings">
                <% jobs.forEach(j => { %>
                    <li>
                        <a href="/jobs/<%= j.id %>"><%= j.title %></a>
                        <button class="delete-btn-job transparent" data-id="<%= j.id %>">🗑️ </button>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="half">
                <h2>right panel</h2>
                <div class="main-container">
                <div class="media-box">
                    <h3>Featured Video</h3>
                    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>

                    <h3>Latest Image</h3>
                    <img src="/images/launch2.jpg" width="400px" alt="Latest Image">
                </div>
                </div>
        </div>
    </div>

    <!-- <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form> -->
    <!-- <script src="/js/dashboard.js"></script> -->
     <%- include('message'); -%>
</body>
</html>