
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('banner'); -%>
   <div class="auth-box">
      <h1> &infin; Welcome to Collab, <%= username  %>! &infin;</h1>
    <form action="/login2" method="POST">
        <div id="login-box">
            <input type="text" name="identifier" placeholder="Username or Email" required>
            <input type="password" name="password" placeholder="Password" required>
        
      <button class='auth-btn' type="submit">Login</button>
      </div>
    </form>
    <form action="/login3" method="POST">
      <button class='auth-btn' type="submit">AutoLogin</button>
    </form>
    <a href="/register"><button class="auth-btn">Register</button></a>
    <form action="/logout" method="POST">
        <button class="auth-btn" type="submit">Logout</button>
    </form>
  </div>
  <title>Your Site - Home</title>
  <link rel="stylesheet" href="css/main.css">
  
</head>


<body>
 
  
<div class="main-container">
  <div class="news-box index-box">
    <h3>Latest News</h3>
    <ul id="news-list">
      
      <textarea id="news-details" class="hidden" maxlength="256"></textarea>
      <button type="submit" id="news-btn" class="hidden">Add News</button>
  </div>
  
  <div class="media-box index-box">
    <div class="video-box" id="video-div">
      <h3>Featured Video</h3>
      <p><%= features[0].details %></p>
      <iframe id='featured-video' height='315' width='auto' src="https://www.youtube.com/embed/<%= features[0].link %>" allowfullscreen>

      </iframe>
        <input type="text" id="featured-video-url" class="hidden">
        <textarea id="video-details" class="hidden" maxlength="256"></textarea>
        <button type="submit" id="featured-video-btn" class="hidden">Change Video</button>
    </div>
    <div class="image-box" id="image-div">
      <h3>Latest Image</h3>
      <p><%= features[1].details %></p>
      <img id='featured-image' src="/images/featured.jpg" max-width="400px" alt="Latest Image">
      <input type="file" accept='jpg, image/jpeg' id="featured-image-url" class="hidden">
      <textarea id="image-details" class="hidden" maxlength="256"></textarea>
      <button type="submit" id="featured-image-btn" class="hidden">Change Image</button>

    </div>
  </div>
  <div class="search-container index-box">
    <h3>Search Results</h3>
    <ul id="search-results">

    </ul>
  </div>
</div>
<%- include('message') -%>
<script>
  const data = <%- JSON.stringify(items) %> 
  </script> 
  <script>
      const admins = <%- JSON.stringify(admins) %>
      const username = <%- JSON.stringify(username) %>
      const news = <%- JSON.stringify(news) %>
  </script>
  
<script src="/js/main.js"></script>

<script src="/node_modules/socket.io/client-dist/socket.io.min.js"></script>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<!-- <script>
  const socket = io()
</script> -->


</body>
</html>
