<!-- views/pdf-page.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pdf.title %></title>
  <link rel="stylesheet" href="/css/projects.css" />
  <%- include('banner'); -%>
</head>
<body>
  <div class="container">
    <main class="main-content">
      <div class="pdf-viewer">
        <embed src="/pdfs/<%= pdf.filename %>" type="application/pdf" width="100%" height="600px" />
      </div>
      <div id='tags'>
        <p>
            <ul class="tag-list">
            <% tagNames.forEach(tag => { %>
                <li class="neon-glow"><%= tag %></li>
            <% }) %>
            <button id="applaud-btn" data-id="<%= pdf.id %>" 
            class="bounce-applaud">👏 Claps <span class="count"><%= pdf.claps %></span></button>
            <strong><span id="replication-score"><%= rep_score.score %> </span> || 
            <span id="reproduce-score"> <%= r_score.score %></span></strong>
            <button id="report-btn" class="subtle-report">🚨 Report</button>
            </ul>
        </p>
      </div>
      <div class='uploaded-div'>
        <h2>Uploaded by <%= pdf.uploaded_by %></h2>
        <button class="follow-btn" id="follow-btn" data-id="<%= pdf.uploaded_by %>"></button>
        <span id="follow-count" class="follow-count">👤 <%= user.subs %></span>
          <!-- <span id="follow-text"><%= pdf.is_followed ? 'Unfollow' : 'Follow' %></span> -->
      </div>
      <div>Article ID: <%= pdf.id %></div>
      <div id="pdf-description">
        <p><%= pdf.description %></p>
      </div>


      <section class="comments">
        <h2>Comments</h2>
        <form id="comment-form" method="POST" action="/add-comment/<%= pdf.slug %>">
          <input type="hidden" name="pdfId" value="<%= pdf.id %>" />
          <textarea name="comment" placeholder="Leave a comment..." required></textarea>
          <button type="submit">Post</button>
        </form>
        <ul class="comment-list">
          <% comments.forEach(comment => { %>
            <li><a href='/user/<%= comment.user %>'<strong><%= comment.user %>:</strong></a> <%= comment.text %>
              <button data-user="<%= comment.user %>" class="subtle-report">🚨 Report</button></li>
          <% }) %>
        </ul>
      </section>
    </main>
    <aside class="sidebar">
      <h3>Related Studies</h3>
      <ul class="related-list">
        <% related.forEach(r => { %>
          <li><a href="/pdf/<%= r.slug %>"><%= r.title %></a></li>
        <% }) %>
      </ul>
    </aside>
  </div>
  <div id="commentForm" class="report-form">
    <form id="reportForm">
      <textarea name='reason' placeholder="Write your comment..." rows="4" cols="30"></textarea><br>
      <button type="submit" class="report-btn subtle-report">Submit</button>
    </form>
  </div>
  
  <%- include('message') -%>
  <script>const pdf = <%- JSON.stringify(pdf) %> </script>
  <script src="/js/projects.js"></script>
</body>
</html>
